<mat-card class="request-card" *ngIf="this.request">
  <mat-card-header>
    <!--img mat-card-avatar [src]="this.request.avatar" class="request-avatar" *ngIf="this.request.avatar"-->
    <mat-card-title class="request-card-name">{{ this.request.name }}</mat-card-title>
    <mat-card-subtitle class="request-card-catgory">{{ this.request.category }}</mat-card-subtitle>
    <mat-card-subtitle class="request-card-count">{{ this.request.count  }}</mat-card-subtitle>
    <mat-card-subtitle class="request-card-unit">{{ this.request.unit }}</mat-card-subtitle>
  </mat-card-header>
  <!--mat-card-content *ngIf="!this.simple">
    <p>Role: <span class="request-card-role">{{ this.request.role }}</span></p>
    <p>Age: <span class="request-card-age">{{ this.request.age }}</span></p>
    <p>Email: <a href="mailto:{{this.request.email}}" class="request-card-email">{{this.request.email}}</a></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button data-test="viewProfileButton" *ngIf="this.simple" [routerLink]="['/requests', this.request._id]">View Profile</button>
  </mat-card-actions-->
</mat-card>

