<mat-card class="item-card" *ngIf="this.item">
  <mat-card-header>
    <!--img mat-card-avatar [src]="this.item.avatar" class="item-avatar" *ngIf="this.item.avatar"-->
    <mat-card-title class="item-card-name">{{ this.item.name }}</mat-card-title>
    <mat-card-subtitle class="item-card-catgory">{{ this.item.category }}</mat-card-subtitle>
    <mat-card-subtitle class="item-card-count">{{ this.item.count  }}</mat-card-subtitle>
    <mat-card-subtitle class="item-card-unit">{{ this.item.unit }}</mat-card-subtitle>
  </mat-card-header>
  <!--mat-card-content *ngIf="!this.simple">
    <p>Role: <span class="item-card-role">{{ this.item.role }}</span></p>
    <p>Age: <span class="item-card-age">{{ this.item.age }}</span></p>
    <p>Email: <a href="mailto:{{this.item.email}}" class="item-card-email">{{this.item.email}}</a></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button data-test="viewProfileButton" *ngIf="this.simple" [routerLink]="['/items', this.item._id]">View Profile</button>
  </mat-card-actions-->
</mat-card>

