<form [formGroup]="addClientRequestForm" (ngSubmit)="submitForm();">

  <div class="flex-col">
    <mat-form-field>
      <mat-label>Does the foodshelf meet ALL needs of your preferred diet?</mat-label>
      <mat-select required formControlName="needMet">
        <mat-option value="true">Yes</mat-option>
        <mat-option value="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="formControlHasError('needMet')" data-test="needMet error.">
        {{getErrorMessage('needMet')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Need description</mat-label>
      <input matInput formControlName="needDescription"
            required>
      <mat-error *ngIf="formControlHasError('needDescription')" data-test="needDescription error">
        {{getErrorMessage('needDescription')}}
      </mat-error>
    </mat-form-field>
  </div>
  <button
        mat-button
        type="button"
        color="primary"

        type="submit"
        data-test="confirmAddRequestButton"
      >
        ADD REQUEST
      </button>
</form>

