<form [formGroup]="addClientRequestForm" (ngSubmit)="submitForm();">

  <div class="flex-col">
    <mat-form-field>
      <mat-label>Does the foodshelf meet ALL needs of your preferred diet?</mat-label>
      <mat-select required formControlName="need_met">
        <mat-option value="true">Yes</mat-option>
        <mat-option value="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="formControlHasError('need_met')" data-test="need_met error.">
        {{getErrorMessage('need_met')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Need description</mat-label>
      <input matInput formControlName="need_description"
            required>
      <mat-error *ngIf="formControlHasError('need_description')" data-test="need_description error">
        {{getErrorMessage('need_description')}}
      </mat-error>
    </mat-form-field>
  </div>
  <button
        mat-button
        type="button"
        color="primary"

        type="submit"
        data-test="confirmAddRequestButton"
      >
        ADD REQUEST
      </button>
</form>

