<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <!-- This title needs to have a test updated in `../../cypress/e2e.volunteer-page.cy.ts` -->
        <mat-card-title class="volunteer-page-title">Volunteer Page</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-add-request></app-add-request>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngFor="let req of this.requests">
  <mat-card class="search-card">
    <mat-card-content>
      <p>{{ req.need_description }}</p>
    </mat-card-content>
  </mat-card>
</div>

